canvas {
    border: 1px solid black;
}

button {
    width: 150px;
    height: 40px;
    color: black;
    background-color: #2bff00;
    padding: 12px 16px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    display: block;
    padding: 0px;
    float: left;
    font-size: large;
}

button:hover {
    background-color: #5add3f;
}

.delaybutton select {
    width: 150px;
    height: 40px;
    font-size: large;
}